<div class="row-fluid">
  <div class="row-fluid">
      <div class="span8" >
          <input type="checkbox" ng-model="panel.joinEnable" ng-checked="panel.joinEnable" >
          <label class="small"> Join</label>
      </div>
  </div>
  <div class="span4">
    <label class="small">Join collection</label><input type="text" class="input-medium" ng-model='panel.joinCollection'></input>
  </div>
  <div class="span4">
    <label class="small">This collection join paramenter</label><input type="text" class="input-medium" ng-model='panel.joinCollectionLeftParameter'></input>
  </div>
  <div class="span4">
    <label class="small">External collection join paramenter</label><input type="text" class="input-medium" ng-model='panel.joinCollectionRightParameter'></input>
  </div>
</div>
