<div class="modal-body">
<div class="editor-title ng-binding">{{panel.title}}</div>
<hr>
  <div>
    <label class="small">Title</label>
    <input type="text" name="title" ng-model="panel.messagetitle"/>
    <label class="small">Description</label>
    <textarea name="description" style="width:95%" ng-model="panel.description">
  </div>
  <div>
    <h3>{{panel.response}}</h3>
  </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" ng-click="sendMessage(panel.messagetitle,panel.description)">Send data</button>
    <button type="button" class="btn btn-danger" ng-click="dismiss();reset_panel();close_edit()">Close</button>
</div>
