<div class="row-fluid">
    <div class="span3">
        <label class="small">
            nodes core name<tip>Specify a the core name containing the nodes for the graph</tip>
        </label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.nodesCore" ng-change="set_refresh(true)">
    </div>
    <div class="span3">
        <label class="small">
            Node field <tip>Specify a field which contains the nodes name</tip>
        </label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.nodesField" ng-change="set_refresh(true)">
    </div>
  </br>
    <div class="span3">
        <label class="small">
            links core name<tip>Specify a the core name containing the nodes for the graph</tip>
        </label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.linksCore" ng-change="set_refresh(true)">
    </div>
  </br>
  <div class="span3">
        <label class="small">
            Year field name<tip>Specify ...</tip>
        </label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.yearFieldName" ng-change="set_refresh(true)">
    </div>
  </br>
    <div class="span3">
        <label class="small">
          Node font size <tip>Node name font size</tip>
        </label>
        <input type="number" class="input-small" bs-typeahead="fields.list" ng-model="panel.fontSize" ng-change="set_refresh(true)">
    </div>
    <div class="span3">
        <label class="small">
          Start year <tip>TODO</tip>
        </label>
        <input type="number" class="input-small" bs-typeahead="fields.list" ng-model="panel.startYear" ng-change="set_refresh(true)">
    </div>
    <div class="span3">
        <label class="small">
          Step year <tip>TODO</tip>
        </label>
        <input type="number" class="input-small" bs-typeahead="fields.list" ng-model="panel.stepYear" ng-change="set_refresh(true)">
    </div>
    <div class="span3">
        <label class="small">
          Rows <tip>TODO</tip>
        </label>
        <input type="number" class="input-small" bs-typeahead="fields.list" ng-model="panel.max_rows" ng-change="set_refresh(true)">
    </div>
    <!-- <div class="span2">
        <label class="small">
            Number of Rows <tip>Specify a number of rows to retrieve the result set.</tip>
        </label>
        <input class="input-small" type="number" ng-model="panel.max_rows" ng-change="set_refresh(true)">
    </div> -->
</div>
