<h5>Nodes</h5>
<div class="row-fluid">
  <div class="span3">
      <label class="small">
          Max Nodes number<tip>Max number of nodes</tip>
      </label>
      <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.nodelimit" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
      <label class="small">
        Max Node size <tip>The max node size</tip>
      </label>
      <input type="number" class="input-small"ng-model="panel.maxNodeSize" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
      <label class="small">
        Min Node size <tip>The min node size</tip>
      </label>
      <input type="number" class="input-small"  ng-model="panel.minNodeSize" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
      <label class="small">
        Node font size <tip>Node name font size</tip>
      </label>
      <input type="number" class="input-small" ng-model="panel.fontSize" ng-change="set_refresh(true)">
  </div>
</div>
<h5>Links</h5>
<div class="row-fluid">

  <div class="span3">
      <label class="small">
        Min Link value <tip>The min link value</tip>
      </label>
      <input type="number" class="input-small"  ng-model="panel.linkValue" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
      <label class="small">
        Link number<tip>Max number of link in the chart </tip>
      </label>
      <input type="number" class="input-small" ng-model="panel.linkNumber" ng-change="set_refresh(true)">
  </div>
</div>
<h5>Graph </h5>
<div class="row-fluid">
  <div class="span3">
      <label class="small">
        Charge <tip>The charge</tip>
      </label>
      <input type="number" class="input-small" bs-typeahead="fields.list" ng-model="panel.charge" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
      <label class="small">
        Gravity <tip>The gravity</tip>
      </label>
      <input type="number" class="input-small" bs-typeahead="fields.list" ng-model="panel.gravity" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
      <label class="small">
        Max Link distance <tip>The link distance</tip>
      </label>
      <input type="number" class="input-small" ng-model="panel.maxLinkDistance" ng-change="set_refresh(true)">
  </div>
  <div class="span3">
      <label class="small">
        Min Link distance <tip>The link distance</tip>
      </label>
      <input type="number" class="input-small" bs-typeahead="fields.list" ng-model="panel.minLinkDistance" ng-change="set_refresh(true)">
  </div>
</div>
<h5>Label </h5>
  <div class="row-fluid">
    <div class="span3">
        <label class="small">
          Patent code description<tip>check if is a patent clustering</tip>
        </label>
        <input class="input-small" ng-model="panel.patent" type="checkbox" ng-change="set_refresh(true)"></inpt>
    </div>
    <div class="span3">
        <label class="small">
          Max number of patent codes <tip>check to show cluster label</tip>
        </label>
        <input class="input-small" ng-model="panel.maxNumberOfPantetCodes" type="number" ng-change="set_refresh(true)"></inpt>
    </div>
    <div class="span3">
        <label class="small">
          Label <tip>check to show cluster label</tip>
        </label>
        <input class="input-small" ng-model="panel.label" type="checkbox" ng-change="set_refresh(true)"></inpt>
    </div>
    <div class="span3">
        <label class="small">
          Label max length <tip>check to show cluster label</tip>
        </label>
        <input class="input-small" ng-model="panel.labelTextLength" type="number" ng-change="set_refresh(true)"></inpt>
    </div>
  </div>
</div>
<h5>Core fields configuration </h5>
<div class="row-fluid">
    <div class="span6">
        <label class="small">
            nodes core name<tip>Specify a the core name containing the nodes for the graph</tip>
        </label>
        <input type="text" class="input-xlarge" bs-typeahead="fields.list" ng-model="panel.nodesCore" ng-change="set_refresh(true)">
    </div>
    <div class="span6">
        <label class="small">
            Node field <tip>Specify a field which contains the nodes name</tip>
        </label>
        <input type="text" class="input-xlarge" bs-typeahead="fields.list" ng-model="panel.nodesField" ng-change="set_refresh(true)">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
        <label class="small">
            links core name<tip>Specify a the core name containing the nodes for the graph</tip>
        </label>
        <input type="text" class="input-xlarge" bs-typeahead="fields.list" ng-model="panel.linksCore" ng-change="set_refresh(true)">
    </div>
  </br>
    <div class="span6">
        <label class="small">
          Node Search <tip>The search field which is search when click on node</tip>
        </label>
        <input type="text" class="input-xlarge" bs-typeahead="fields.list" ng-model="panel.nodeSearch" ng-change="set_refresh(true)">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
        <label class="small">
          Node link 1 <tip>the cluster 1 field link to the node field</tip>
        </label>
        <input type="text" class="input-xlarge" bs-typeahead="fields.list" ng-model="panel.nodeLink1" ng-change="set_refresh(true)">
    </div>
    <div class="span6">
        <label class="small">
          Node link 2 <tip>the cluster 1 field link to the node field</tip>
        </label>
        <input type="text" class="input-xlarge" bs-typeahead="fields.list" ng-model="panel.nodeLink2" ng-change="set_refresh(true)">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
        <label class="small">
          Patent code field name<tip>TODO</tip>
        </label>
        <input type="text" class="input-xlarge" bs-typeahead="fields.list" ng-model="panel.patentCodeField" ng-change="set_refresh(true)">
    </div>
    <div class="span6">
        <label class="small">
          Patent description collection <tip>TODO</tip>
        </label>
        <input type="text" class="input-xlarge" bs-typeahead="fields.list" ng-model="panel.patentDescriptionCollection" ng-change="set_refresh(true)">
    </div>
</div>
