#events {
  font-size: 12px;
}

.legend {
  color: #000;
}

.editor-title {
  margin-right: 10px;
  font-size: 1.7em;
  font-weight: bold;
  text-transform:capitalize;
}

.editor-title small {
  opacity: 0.5;
  font-size: 0.7em;
  font-weight: normal;
}

.spy {
  position:absolute;
  right:0px;
  top:0px;
}

.navbar-inner {
  border-width: 0 0 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.kibana-row {
  margin-left: 15px;
  margin-bottom: 15px;
}

/* .row-close {
  color: #bbb;
  position: absolute;
  font-size: 9pt;
  font-weight: 200;
  padding-left: 35px;
  padding-top:0px;
}

.row-open {
  text-align: right;
  color: #bbb;
  margin-top:30px;
  position: absolute;
  font-size: 13pt;
  font-weight: 200;
  -moz-transform-origin: 40px;
  -ms-transform-origin: 40px;
  -o-transform-origin: 40px;
  -webkit-transform-origin: 40px;
  transform-origin: 40px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
} */

.row-open i {
  font-size: 10pt;
}

.odd {
  background-color: #3a3f44;
}

.nomargin {
  margin: 0px;
}


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.table tbody + tbody{
  border-top: 0px;
}

.panel-error {
  opacity: 0.9;
  position:absolute;
  z-index: 1000;
}

.panel-loading {
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 800;
}

.panel span.panelextra {
  position: absolute;
  z-index: 800;
  display: none;
}

.panel:hover span.panelextra {
  display: block;
  opacity: 0.3;
}

.panel span.panelextra:hover {
  opacity: 1;
}

.link {
  cursor: pointer;
}

.pointer:hover {
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.link:hover {
  color: #0088CC;
}

.popover {
  max-width: 500px;
}

.modal {
  width: 770px;
  margin-left: -385px;
  top: 10px !important;
}

.tiny {
  font-size: 50%;
}

.smaller {
  font-size: 70%;
}

.small {
  font-size: 85%;
}

.large {
  font-size: 120%;
}

.strong {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.light {
  font-weight: 200;
}

.input-append label {
  font-size: inherit !important;
}

.input-smaller {
  width: 75px;
}

.typeahead { z-index: 1051; }

.btn-active {
  background-color: #E6E6E6;
  background-image: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  outline: 0 none
}

.remove:hover {
  background-color: #A60000;
}

.faded {
  opacity: 0.2;
}

body{
  background: #5bc0de;
}


.context{
  background-color: #282828;
  z-index: 999;
  color: #b3b3b3;
  min-width: 160px;
  padding: 0;
  margin: 0;
  color: hsla(0,0%,100%,.6);
  text-align: left;
  background-color: #282828;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  outline: none;
}

.context ul{
  padding: 0;
  margin: 0;
}

.context li {
    list-style-type: none;
    margin:0px;
    padding: 3px 20px;
    clear: both;
    line-height: 32px;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.context li:hover{
  background-color:#333;
  color: white;
}

body.frame-background{
  background-color: #f6f6f6;
}

.frame-background .panelCont{
  background-color: white;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 30px;

}

.frame-background .row-fixed .panel-title {
    font-size: 1em;
}




/* fixed filters and header */
.row-control.row-fixed{
  position:fixed;
  top:0px;
  left:30%;
  width:40%;
  z-index:9999;
  height:50px;
}


.modal{
  z-index: 9999 !important;
}


.pseudo-bar{
  height: 40px;
}

.navbar.navbar-static-top {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.panelCont:hover .filtering-container{
    display: block;
}

.row-fixed .panelCont:hover .badge,
.row-fixed .panelCont:hover .on-over-remove{
    display: none;
}

.frame-background .row-fixed a {
    color: white;
}

.frame-background .row-fixed .panelCont{
  background-color: #fff;
  box-shadow: none;
  border-radius: none;
  outline: 0;
  background:#2c2c2c;
  color: white;
  border: none;
  outline: none;
  padding: 0px;
}

.row-fixed .panel div.panel-extra .extra{
  border:none;
  display: none;
}

.frame-background .row-fixed .panel-title {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

.fixed-row-theme .navbar-inner {
  background-image:none;
  box-shadow: none;
}

.fixed-row-theme .navbar .brand{
  width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.row-fixed .filtering-container{
  display: none;
  padding: 10px;
  min-width: 230px;
  background:#292929;
  margin-top: -2px;
  border: 1px solid black;
  z-index: 9998;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.row-fixed .panel-extra-container:not(:first-child) {
  display: none;
}

.row-fixed .row-config{
  left: -25px;
  position: absolute;
}

.row-fixed .row-config a{
  color:black;
}

body.frame-background.fixed-row-theme{
  margin-top: 40px;

}
.fixed-row-theme .navbar.navbar-static-top{
  top: 0px;
}

.row-fixed .panelCont:hover .row-fluid.panel-extra{
    color: gold;
}

.row-fixed .panelCont:hover .filtering-container{
  border-top: 3px solid gold;
}


/*end of fixed filters and header */

.text-link{
  font-size: 1.1em;
  padding: 4px;
}

.text-link i{
  padding: 10px;
}

.frame-background a{
  color: #000000;
}

.frame-background .panel div.panel-extra div.panel-extra-container{
  margin-right: -5px;
}

.frame-background .panel div.panel-extra {
    margin-top: 10px;
}

.frame-background .panel-title{
    font-size: 1.2em;
    margin-left: 5px;
}

.d3-tip {
    background: #fff;
    padding: 5px;
    border: 1px solid black;
    max-width: 50%;
    max-height: 50%;
    overflow: scroll;
}

.d3-tip-link {
    background: #fff;
    padding: 5px;
    border: 1px solid black;
}
/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
