<div class="row-fluid">
    <div class="span3">
        <label class="small">
            Field 1 for displaying values <tip>Specify a field to show values on the bar chart</tip>
        </label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field1" ng-change="set_refresh(true)">
    </div>
    <div class="span3">
        <label class="small">
            Field 2 for displaying values <tip>Specify a field to show values on the bar chart</tip>
        </label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field2" ng-change="set_refresh(true)">
    </div>
    <div class="span3">
        <label class="small">
            Field 1 for displaying values <tip>Specify a field to show values on the bar chart</tip>
        </label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field1" ng-change="set_refresh(true)">
    </div>
    <div class="span3">
        <label class="small">
            Aggregation function <tip></tip>
        </label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.aggregation_function" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
        <label class="small">
            Category 1<tip>name of first category</tip>
        </label>
        <input class="input-small" ng-model="panel.labelXaxis" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
        <label class="small">
          Category 2<tip>name of second category</tip>
        </label>
        <input class="input-small" ng-model="panel.labelYaxis" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
        <label class="small">
          Documents name<tip>name of the documents</tip>
        </label>
        <input class="input-small" ng-model="panel.docname" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
        <label class="small">
            Mode <tip>Specify if show frequency or percentage.</tip>
        </label>
        <select class="input-small" ng-model="panel.number_mode" ng-change="set_refresh(true)">
            <option value="F">frequency</option>
            <option value="P">percentage</option>
            <option value="O">other</option>
        </select>
    </div>
    <div class="span3">
        <label class="small">
            Aggregation function <tip></tip>
        </label>
        <input type="text" class="input-large" bs-typeahead="fields.list" ng-model="panel.yAxisValues" ng-change="set_refresh(true)">
    </div>

</div>
