<div class="context" ng-show="dialog=='add' || dialog=='remove'" ng-style="style">
  <ul ng-show="dialog=='add'">
    <li ng-click="andSelection()">Exclude others</li>
    <li ng-click="orSelection()">Compare with...</li>
    <li ng-show="showCompare" ng-click="applyCompare()">Apply compare</li>
    <li ng-click="abort()">Abort</li>
  </ul>
  <ul ng-show="dialog=='remove'">
    <li ng-click="removeFilterSelection()">Remove filter</li>
    <li ng-show="showCompare" ng-click="applyCompare()">Apply compare</li>
    <li ng-click="abort()">Abort</li>
  </ul>
</div>
