<div class="context" ng-show="dialog=='orand' || dialog=='remove' || dialog=='send' || dialog=='compare' || dialog=='or' || dialog=='selections'" ng-style="style">
  <ul ng-show="dialog=='orand'">
    <li ng-click="andSelection()">Select only this</li>
    <li ng-click="orSelection()">Select to compare</li>
    <li ng-show="showCompare" ng-click="applyCompare()">Apply compare</li>
    <li ng-click="abort()">Close</li>
  </ul>
  <ul ng-show="dialog=='or'">
    <li ng-click="orSelection()">Select</li>
    <li ng-click="abort()">Close</li>
  </ul>
  <ul ng-show="dialog=='compare'">
    <li ng-repeat="selection in selections" ng-click="andSelection(selection)" >{{selection.value}}  <span class="badge badge-pill badge-info ng-binding" ng-show="elem.param!=''"><span class="badge badge-pill badge-info ng-binding">{{selection.badge}}</span></li>
    <li ng-click="andSelection()">Select only this</li>
    <li ng-click="abort()">Close</li>
  </ul>
  <ul ng-show="dialog=='selections'">
    <li ng-repeat="selection in selections" ng-click="andSelection(selection)" >{{selection.value}}  {{selection.badge}}</li>
    <li ng-click="abort()">Close</li>
  </ul>
  <ul ng-show="dialog=='remove'">
    <li ng-repeat="selection in selections" ng-click="removeFilterSelection(selection)" >{{selection.value}} {{selection.badge}}</li>
    <li ng-click="removeFilterSelection()">Remove filter</li>
    <li ng-click="abort()">Close</li>
  </ul>
  <ul ng-show="dialog=='send'">
    <li ng-click="abort()">Send as relevant</li>
    <li ng-click="abort()">Close</li>
  </ul>
</div>
